/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common */
body {
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 30px;
}
.logo {
    width: 400px;
    margin: 30px 0px;
}
header input,
header button {
    padding: 15px;
    border: none;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1rem;
}
header input {
    width: 300px;
}
header button {
    cursor: pointer;
}

/* Main */
.todosContainer {
    max-width: 1200px;
    margin: auto;
    background-color: #f5f7f7;
    border-radius: 15px;
}
.todosContainer ul {
    list-style: none;
    padding: 20px;
}
.todosContainer ul li {
    border-bottom: 1px solid #dadee1;
    padding: 10px;
    line-height: 29px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}
.todosContainer ul li i {
    cursor: pointer;
}
.todosContainer h2 {
    text-align: center;
    padding: 20px;
}
.todosContainer ul li .done {
    color: green;
    text-decoration: line-through;
}
.todosContainer ul li .notDone {
    color: red;
}
.todosContainer button {
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    border: 1px solid black;
}

/* Hover effects */
header button:hover {
    background-color: lightgray;
}
.todosContainer ul li:hover {
    background-color: #fff;
}